/* Custom */
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:wght@400;600;700&display=swap");

* {
  overflow: hidden;
}

a {
  color: #95ace1;
  text-decoration: none;
}

div {
  z-index: 2;
}

body {
  align-items: center;
  display: flex;
  font-weight: 400;
  height: 100vh;
  justify-content: center;
}

footer {
  display: block;
  margin: 1rem auto 2rem auto;
}

button {
  cursor: pointer;
}

#new-quote {
  float: inline-start;
}

#quote-author {
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-top: 1.25rem;
}

#quote-box {
  background-blend-mode: multiply;
  background-color: #fff;
  display: flexbox;
  margin: 1px auto auto auto;
  opacity: 0.9;
  padding: 2.5rem 3rem;
}

#quote-text {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.05em;
  overflow-wrap: break-word;
}

#text {
  text-align: left;
}

#author {
  font-size: 1rem;
  padding-top: 1.5rem;
}

footer,
#text,
#author {
  line-height: 1.5rem;
}

footer,
#new-quote {
  color: #fff;
}

#author,
#new-quote,
#text,
a:hover {
  text-transform: capitalize;
}

#author,
#quote-author {
  text-align: right;
}

#author,
#quote-author,
#quote-box,
#quote-text,
#text,
footer {
  width: 24rem;
}

#author,
#quote-author,
#text {
  height: auto;
}

#new-quote,
#quote-box,
#tweet-quote {
  border-radius: 1.5rem;
  border-width: 1px;
}

#new-quote,
#tweet-quote,
body {
  background-color: #0f172a;
}

#new-quote,
#tweet-quote {
  border-color: #95ace1;
  margin: 0.25rem;
  padding: 1rem;
}

#new-quote:hover,
#tweet-quote:hover {
  background-color: #fff;
  color: #0f172a;
}

#quote-box,
div {
  position: relative;
}

#quote-author,
#quote-text {
  clear: both;
}

#quote-text,
#tweet-quote,
footer {
  text-align: center;
}

#tweet-quote {
  color: #1da1f2;
  float: left;
}

/* 
  iPhone 4 and 4S
*/

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    font-size: xx-small;
    justify-content: center;
  }
}
